table {
	border-collapse: collapse;
}

td, th {
	border-bottom: 2px solid #AED581;
	padding: 15px 10px;
}

tr:nth-child(even) {
	background-color: #F1F8E9;
}

/* tr:hover {
	background-color: #DCEDC8;
} */